* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

address {
  font-style: normal; }

body {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: sans-serif; }

.heading-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .heading-primary__main {
    display: block;
    font-size: 15rem; }
  .heading-primary__body {
    display: inline-block;
    font-size: 3rem;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.heading-secondary {
  font-size: 3rem;
  text-transform: capitalize; }

.heading-tertiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .heading-tertiary__main {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    display: block; }
  .heading-tertiary__body {
    display: block;
    font-size: 3rem; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  padding: 2rem;
  color: #fff;
  font-size: 1.4rem; }
  .navigation__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navigation__item:not(:last-child) {
    padding-right: 2rem; }
  .navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .navigation__link--current, .navigation__link:hover {
      color: #fff; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .grid .figure {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .grid .figure:nth-of-type(2) {
      margin: 0 5rem; }
    .grid .figure__caption {
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 600;
      padding: 2rem;
      text-align: center; }

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }
  .btn:hover, .btn:active {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }

.row {
  max-width: 110rem;
  margin: auto; }

.image-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .image-grid .cell {
    width: 50%; }
    .image-grid .cell__img--big {
      height: auto; }
    .image-grid .cell__img--small {
      height: 60rem;
      margin-top: -.3rem; }

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about__text {
  width: 60%;
  line-height: 2rem; }

.header {
  height: 95vh;
  background: url("../images/title-min.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.video__content {
  display: block;
  width: 100%; }

.slogan {
  height: 85vh;
  margin-top: -.3rem;
  background-image: url(../images/coffeee-min.jpg);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.margin-top-medium {
  margin-top: 5rem; }

.margin-top-big {
  margin-top: 9rem; }

.margin-bottom-medium {
  margin-bottom: 5rem; }

.margin-bottom-big {
  margin-bottom: 9rem; }

.center-text {
  text-align: center; }
