.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-black;
    padding: 2rem;
    color: $color-white;
    font-size: 1.4rem;
    
    &__list {
        list-style: none;
        display: flex;
    }
    
    &__item {
        &:not(:last-child) {
            padding-right: 2rem;
        }
    }
    
    &__link {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-light-grey;
        transition: all .3s;
        
        &--current, &:hover {
            color: $color-white;
        }
    }
    
}


.grid {
    display: flex;
    justify-content: center;
    
    .figure {
        flex: 1;
        
        &:nth-of-type(2) {
            margin: 0 5rem;
        }
        
        &__caption {
            font-size: 2rem;
            text-transform: capitalize;
            font-weight: 600;
            padding: 2rem;
            text-align: center;
        }
    }
}

// btn 

.btn {
    text-decoration: none;
    color: $color-white;
    background-color: $color-black;
    padding: 1.5rem 3.5rem;
    display: inline-block;
    transition: all .3s;
    transform: translateY(0px);
    
    &:hover, &:active {
        transform: translateY(-5px);
    }
    
}

.row {
    max-width: 110rem;
    margin: auto;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .cell {
        width: 50%; 
        
        &__img {
            &--big {
                height: auto;
            }
            
            &--small {
                height: 60rem;
                margin-top: -.3rem;
            }
        }
    }  
}

.about {

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    } 
    
    &__text {
        width: 60%;
        line-height: 2rem;        
    }
    
}

// Tooltip  //
.tooltip {
    position: relative;
    display: inline-block;

    & .tooltiptext {
        visibility: hidden;
        width: 12rem;
        background-color: $color-white;
        color: $color-light-grey;
        text-align: center;
        padding: .5rem 0;
        border-radius: .5rem;
        position: absolute;
        z-index: 1;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}