.header {
    height: 95vh;
    background: url("../images/title-min.jpg") top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .9;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include respond(tab-land) {
        background-attachment: scroll;
        height: 60rem;
    }
}

.video {
    @include respond(phone) { 
        background: url("../images/bg-video-image.jpg");
        background-size: cover; 
        height: 60rem;
        width: 100%;
    }
     
    &__content {
        display: block;
        width: 100%;
        
        @include respond(phone) { 
            display: none;    
        }
    }
    
}

.slogan {
    height: 85vh;
    margin-top: -.3rem;
    background-image: url(../images/coffeee-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include respond(tab-land) {
        background-attachment: scroll;
        height: 60rem;
    }
   
}

.footer {
    background-color: $color-black;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}